/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

.layer {
    margin: -40px;
}
header.site-header {
    position: fixed;
    z-index: -1;
}
div.page-content {
    padding-top: 700px;
    .wrapper {
        background-color: #fbfbfb;
        border-radius: 16px;
    }
}
footer.site-footer {
    background-color: #fbfbfb;
    height: 81px;
}

@include media-query(1100px) {
    div.page-content {
        padding-top: 500px;
    }
    .layer {
        img {
            max-width: 200%;
            transform: translate(-23.6%, -10%);
        }
    }
}

@include media-query(1100px) {
    div.page-content {
        .wrapper {
            border-radius: 0;
            margin-bottom: -60px;
        }
    }
    footer.site-footer {
        height: 160px;
    }
}

@include media-query(464px) {
    div.page-content {
        padding-top: 450px;
    }
}